<header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>


      <nav class="container">
            <a class="nav-header" href="{{ site.baseurl }}/index">HOME</a>
            <a class="nav-header" href="{{ site.baseurl }}/blogs">BLOG</a>
            <a class="nav-header" href="{{ site.baseurl }}/publications">PUBLICATIONS</a>
            <a class="nav-header" href="{{ site.baseurl }}/projects">PROJECTS</a>
            <a class="nav-header" href="{{ site.baseurl }}/CV_Enam_Biswas.pdf" target="_blank">RESUME</a>
            <a class="nav-header" href="{{ site.baseurl }}/about">ABOUT</a>
      </nav>

</header>
