<header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>


      <nav class="container">
            <li><a class="nav-header" href="{{ site.baseurl }}/index">HOME</a></li>
            <li><a class="nav-header" href="{{ site.baseurl }}/blogs">BLOG</a></li>
            <li><a class="nav-header" href="{{ site.baseurl }}/publications">PUBLICATIONS</a></li>
            <li><a class="nav-header" href="{{ site.baseurl }}/projects">PROJECTS</a></li>
            <li><a class="nav-header" href="{{ site.baseurl }}/Enam_Biswas_CV.pdf" target="_blank">RESUME</a></li>
            <li><a class="nav-header" href="{{ site.baseurl }}/about">ABOUT</a></li>
      </nav>

</header>
